<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input
                placeholder="Dê um nome de referência"
                id="titulo"
                ng-model="label"
                type="text"
                class="validate"
                >
                <label for="first_name">Título</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input
                id="address"
                ng-keypress="findAddress($event)"
                ng-model="address"
                placeholder="informe um endereço"
                ng-disabled="hideSave"
                >
            </div>
        </div>
    </form>
</div>

<div ng-map id="zika-mapa"
    center="-19.9353658,-43.9398996"
    zoom="15"
    zoom-control="false"
    default-style="false"
    on-click="setAddress($event)"
    >
    <custom-marker position="{{lat}},{{lon}}">
        <div>
            <img src="img/insect.png">
        </div>
    </custom-marker>
</div>
<div class="row">
    <div class="col s12">
        <button class="btn waves-effect waves-light btn-100" type="button" ng-click="salvar()" name="action">Salvar
            <i class="material-icons right">done</i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <button class="btn waves-effect waves-light btn-100" type="button" ng-click="voltar()" name="action">Voltar
            <i class="material-icons right">skip_previous</i>
        </button>
    </div>
</div>
